/*indexcss*/
* {
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a {
    text-decoration: none;
}
/*basecss*/

.chart {
    height: 500px;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    margin: 100px;
    position: relative;
}
.chart ul li {
    position: absolute;
    bottom: -2px;
    /*float: left;*/
    width: 10px;
    margin-left: 10px;
    /*border: 1px solid #000;*/
    height: 0;
    box-shadow: 5px 5px 5px #aaa;
    transition: 1s;
}
.chart span {
    color: pink;
    font: 500 25px 'microsoft yahei';
    position: absolute;
    left: -50px;
}
.chart span:nth-child(1) {
    bottom: -12px;
}
.chart span:nth-child(2) {
    bottom: 88px;
}
.chart span:nth-child(3) {
    bottom: 188px;
}
.chart span:nth-child(4) {
    bottom: 288px;
}
.chart span:nth-child(5) {
    bottom: 388px;
}
